// Default param values
params {
    help      = false
    reference = 'test-data/test-data-tiny/reference_chr38-1000000-1030000.fa'
    known     = 'test-data/test-data-tiny/known_chr38-1000000-1030000.bed'
    out       = 'out'

    combineByChromosome = false
}

// Different profiles for differenet ways of running the pipeline
profiles {
    singularity {
        includeConfig 'configuration/singularity.config'
        includeConfig 'configuration/containers.config'
    }
    docker {
        includeConfig 'configuration/docker.config'
        includeConfig 'configuration/containers.config'
    }
}
