singularity.enabled = true

params.reference = 'test-data/test-data-tiny/reference_chr38-1000000-1030000.fa'
params.known     = 'test-data/test-data-tiny/known_chr38-1000000-1030000.bed'

process.$MapReads.container     = 'docker://viklund/k9-bwa:latest'
process.$gatk_realign.container = 'docker://broadinstitute/gatk3:3.5-0'
