process {
    withName: fastqc                  { container = params.containers.fastqc }
    withName: bwa                     { container = params.containers.bwa }
    withName: gatk_realign            { container = params.containers.gatk }
    withName: mark_duplicates         { container = params.containers.picard }
    withName: quality_recalibration   { container = params.containers.gatk }
    withName: flagstats               { container = params.containers.samtools }
    withName: wgsmetrics              { container = params.containers.picard }
    withName: haplotypeCaller         { container = params.containers.gatk }
    withName: haplotypeCallerCompress { container = params.containers.htslib }
    withName: gVCFCombine             { container = params.containers.gatk }
    withName: bgZipCombinedGVCF       { container = params.containers.htslib }
    withName: genotype                { container = params.containers.gatk }
    withName: hardfilters_snp         { container = params.containers.gatk }
    withName: hardfilters_indel       { container = params.containers.gatk }
    withName: combineChrVCFs          { container = params.containers.gatk }
}
