params {
    singleCPUMem = 6.GB
    totalMemory = 120.GB
}

process {
    cpus = 1
    memory = params.singleCPUMem
    scratch = '$SNIC_TMP'

    //errorStrategy = {task.exitStatus == 127 ? 'retry' : 'terminate'}
    maxErrors = '-1'
    maxRetries = 3

    withName: bwa {
        cpus = 20
        memory = 110.GB
    }
}

executor {
    name = 'local'
    memory = params.totalMemory
    cpus = 20
}
