params {
    singleCPUMem = 6.GB
    totalMemory = 120.GB
}

process {
    clusterOptions = { "-A $params.project" }

    cpus = 1
    //memory = params.singleCPUMem
    scratch = '$SNIC_TMP'
    executor = 'slurm'

    //errorStrategy = {task.exitStatus == 127 ? 'retry' : 'terminate'}
    maxErrors = '-1'
    maxRetries = 3

    withName: bwa {
        cpus = 20
        memory = 120.GB
    }

    withName: quality_recalibration {
        cpus = 10
        //memory = 50.GB
    }

    withName: combineChrVCFs  { cpus = 2 }
    withName: haplotypeCaller { cpus = 2 }
}
