singularity {
    enabled = true
}

params {
    containers {
        fastqc = "shub://NBISweden/K9-WGS-Pipeline:fastqc-0.11.5"
        bwa    = "shub://NBISweden/K9-WGS-Pipeline:bwa-0.7.12"
        gatk   = "shub://NBISweden/K9-WGS-Pipeline:gatk-3.5"
        picard = "shub://NBISweden/K9-WGS-Pipeline:picard-2.10.6"
        samtools = params.containers.bwa
        htslib = "shub://NBISweden/K9-WGS-Pipeline:htslib-1.5"
    }
}
