process {
    $fastqc.container                = "${params.containerRepository}maxulysse/fastqc:1.2.5"
    $bwa.container                   = "${params.containerRepository}viklund/k9-bwa:latest"
    $gatk_realign.container          = "${params.containerRepository}viklund/k9-gatk:latest"
    $mark_duplicates.container       = "${params.containerRepository}viklund/k9-picard:latest"
    $quality_recalibration.container = "${params.containerRepository}viklund/k9-gatk:latest"
}
