process {
    $fastqc.container                = params.containers.fastqc
    $bwa.container                   = params.containers.bwa
    $gatk_realign.container          = params.containers.gatk
    $mark_duplicates.container       = params.containers.picard
    $quality_recalibration.container = params.containers.gatk
}
