docker {
    enabled = true
}

process {
    $fastqc.container                = "viklund/k9-fastqc:latest"
    $bwa.container                   = "viklund/k9-bwa:latest"
    $gatk_realign.container          = "viklund/k9-gatk:latest"
    $mark_duplicates.container       = "viklund/k9-picard:latest"
    $quality_recalibration.container = "viklund/k9-gatk:latest"
}
