singularity {
    enabled = true
}

process {
    $fastqc.container                = "shub://NBISweden/K9-WGS-Pipeline:fastqc-0.11.5"
    $bwa.container                   = "shub://NBISweden/K9-WGS-Pipeline:bwa-0.7.12"
    $gatk_realign.container          = "shub://NBISweden/K9-WGS-Pipeline:gatk-3.5"
    $mark_duplicates.container       = "shub://NBISweden/K9-WGS-Pipeline:picard-1.97"
    $quality_recalibration.container = "shub://NBISweden/K9-WGS-Pipeline:gatk-3.5"
}
